header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    position: sticky; /* 고정 위치 설정 */
    top: 0; /* 화면 상단에 고정 */
    left: 0;
    width: 100%; /* 화면 너비에 맞춤 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 설정 */
}

header img {
    height: 70px;
    width: auto;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

a {
    text-decoration: none;
}

.brand-name {
    font-size: 35px; /* 글자 크기를 원하는 크기로 설정 */
    font-weight: bold; /* 굵은 글씨 */
    color: rgba(2, 2, 2, 0.97);
}