/* 카드 스타일 */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.over14 {
    color: red;
    font-weight: bold;
}

/* 로고 스타일 */
.logo {
    margin-top: 5rem;
    height: 80px;
    width: auto;
    transition: transform 0.2s;
}

.logo:hover {
    transform: scale(1.05);
}

.btn-base {
    height: 45px;
    width: 180px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-wrap: pretty;
    word-break: keep-all;
}

.btn-normal {
    background-color: #001f54;

}

.btn-payco {
    cursor: pointer;
    background-color: #ff2233;
}

#kakaoCert {
    margin-left: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

#naverCert {
    margin-left: 1rem;
    margin-right: 2rem;
    cursor: pointer;
}

.btn-kakao {
    height: 45px;
    width: 180px;
}

.btn-naver {
    height: 45px;
    width: 180px;
}

/* 안내 텍스트 */
.info-text {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
}
