h1 {
  text-align: center;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 60px;
}

/* 메뉴 스타일 */
.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.menu div {
  flex: 1;
  padding: 10px;
  text-align: center;
  background-color: #f0f0f0;
  cursor: pointer;
  font-weight: bold;
}

.menu div a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.menu .active {
  background-color: #0d1a33;
  color: white;
}

/* 테이블 스타일 */
table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid #ddd;
  overflow-y: auto; /* 세로 스크롤 활성화 */
  height: calc(100vh - 60px); /* 푸터 공간을 제외한 높이 */
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}