footer {
    position: fixed;
    bottom: 0;
    background-color: #f8f9fa;
    color: #6c757d;
    width: 100vw;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    width: 24px;
    height: auto;
    margin: 0 8px;
}