/* 카드 스타일 */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.over14 {
    color: red;
    font-weight: bold;
}

.btn-normal,
.btn-normal > a:link,
.btn-normal > a:visited,
.btn-normal > a:hover {
    background-color: #28a745;
    height: 45px;
    width: 180px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-wrap: pretty;
    word-break: keep-all;
}

a {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

#kakaoCert {
    cursor: pointer;
}

#naverCert {
    cursor: pointer;
}

.btn-kakao {
    height: 45px;
    width: 180px;
    margin: 0 2rem;
}

.btn-naver {
    height: 45px;
    width: 180px;
}

/* 안내 텍스트 */
.info-text {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
}