body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background: linear-gradient(135deg, #f0f4f8, #e6e9f0);
  text-align: center;
  overflow: auto;
}

h1 {
  margin-bottom: 30px;
  color: #333;
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.table-container {
  display: inline-block;
  width: 90%;
  max-width: 600px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #e9ecef;
  color: #495057;
  font-weight: bold;
  font-size: 1.2em;
}

td {
  word-break: break-all;
  color: #212529;
}

.button-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 130px;
}

.button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
  box-shadow: 0 4px 20px rgba(0, 86, 179, 0.3);
}

.cancel {
  background-color: #dc3545;
}

.cancel:hover {
  background-color: #c82333;
}
